{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'SpotifyWrapped/home.css' %}">
</head>
<body class="about-us">
    <div class="dark-header container">
        <div class="left">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'readings' %}">Past Readings</a>
            <a href="{% url 'about_us' %}">About Us</a>
        </div>
        <div class="right">
            <a href="{% url 'profile' %}">Profile</a>
        </div>
        <form method="post" action="{% url 'about_us' %}">
        {% csrf_token %}
        <!-- This is the Text Search bar -->
        <input class="search-bar" type="text" placeholder="Write a message..." name="message">
        <button class="search-button" type="submit">
            Send Message
        </button>
    </form>
    </div>
    <div class="about-us-container">

    </div>

</body>
</html>
