{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'SpotifyWrapped/about_us.css' %}">
</head>
<body class="{% if theme_preference == 'light' %}light-mode{% endif %}">
<div class="dark-header container">
    <div class="left">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'readings' %}">Past Readings</a>
        <a href="{% url 'about_us' %}">About Us</a>
    </div>
    <div class="right">
        <a href="{% url 'profile' %}">Profile</a>
    </div>
</div>

<div class="about-us-content fade">
    <div class="nav">
        <a href="#structure" class="btn">Structure</a>
        <a href="#progress" class="btn">Our Process</a>
        <a href="#team" class="btn">Team Members</a>
        <a href="#contact" class="btn">Contact</a>
    </div>
    <section class="combined-section">
        <p style="text-align: center">Inspired by tarot, we wanted to create a unique and fun way to access statistics about the things you listen
            to on Spotify, like Spotify Wrapped but can be accessed all year round! You can view your listening history
            from the past year, six months, or three months or even create duo wraps to compared your music taste with your
            friends. All the wraps that you create can be accessed in your past readings. We hope you enjoy!</p>
    </section>
    <section class="combined-section" id="structure">
        <h1>Process Structure: Scrum</h1>
        <h2>Role Assignment</h2>
        <p>
            In the beginning, we assigned roles based on our interests and experience
        </p>
        <ul>
            <li>Backend: Kenny, John, Ethan</li>
            <li>Frontend: Eris, Emily</li>
        </ul>
        <p>
            However, as we started working on the project, roles were adapted and arranged based on what was completed
            and what part of the project needed more assistance.
        </p>
        <ul>
            <li>Backend: Ethan</li>
            <li>Frontend: Eris, Emily</li>
            <li>Fullstack: Kenny, John</li>
        </ul>
        <p>
            We also assigned roles such as scrum master and product owner to Ethan and Eris respectively.
            As scrum master, Ethan was responsible for laying out the scope and tasks for each person to complete. He
            made sure the team stayed on track and created an efficient workflow.
            As a product owner, Eris frequently interacted with the client. By communicating with the client, the team
            was able to get feedback throughout each sprint.
        </p>
        <h2>User Stories</h2>
        <p>For this project, the main foundation of the project, where we first started, were targeting the base user
            stories such as:
        <ul>
            <li>Base User Story #1: As a user, I want to be able to view a presentation of the different
                aspects of my personal Spotify music listening tastes displayed in colorful and fun ways.
            </li>
            <li>Base User Story #2: As a user, I would like to be able to create and login to an account that
                saves my previously generated Spotify wraps.
            </li>
            <li>Base User Story #3: As a user, I would like the UI to be aesthetically-pleasing and responsive.</li>
            <li>Base User Story #4: As a developer, I would like to avoid security leaks by not hosting secrets
                like API keys on GitHub.
            </li>
        </ul>
    </section>

    <section class="team-section" id="team">
        <h1>Team Members</h1>
        <div class="team-grid">
            <div class="team-card">
                <div class="profile" id="ethan"></div>
                <h2>Ethan Kim</h2>
                <h3>Role: CODE</h3>
                <p>WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS WORDS</p>
            </div>
            <div class="team-card">
                <div class="profile" id="eris"></div>
                <h2>Eris Wang</h2>
                <h3>Role: Product Owner, Frontend Developer</h3>
                <p>
                    As the product owner, I made sure to constantly update our client on our ideas and progress of the
                    website, asking for feedback and his specific needs. I worked on the designs for the website and
                    created pages like the profile.
                </p>
            </div>
            <div class="team-card">
                <div class="profile" id="john"></div>
                <h2>John Phan</h2>
                <h3>Role: Fullstack Developer</h3>
                <p>
                    Hey, I'm John! I had a lot of fun implementing the dark/light mode toggle. It was an exciting challenge
                    to make the design consistent and visually appealing. I also worked on backend features and helped
                    ensure seamless integration between frontend and backend functionality.
                </p>
            </div>
            <div class="team-card">
                <div class="profile" id="kenny"></div>
                <h2>Kenny Nguyen</h2>
                <h3>Role: Backend Developer</h3>
                <p>
                    Hi, I'm Kenny! I focused on backend functionality, including features like the Spotify API
                    integration and database optimization. I also helped bridge the gap between frontend and backend, ensuring
                    a seamless user experience.
                </p>
            </div>
        </div>
    </section>

    <section class="combined-section" id="contact" style="margin-top: 50px;">
        <h1>Contact Us!</h1>
        <div class="content">
            <div class="left">
                <p>
                    Thank you for checking out our website. As a small group of developers, we appreciate any and all
                    feedback as well as reports of any bugs!
                </p>
            </div>
            <div class="right">
                <form method="post" action="{% url 'about_us' %}">
                    {% csrf_token %}
                    <textarea class="message-bar" type="text" placeholder="Write a message..."
                              name="message"></textarea>
                    <button class="send-button" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>

