<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
enter the void? yadayadayada
    <form class="delete" action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <button class="delete-button" aria-label="User Delete" title="User Delete">Delete</button>
    </form>

    <form class="home" action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <button class="home-button" aria-label="Home" title="Home">Cancel</button>
    </form>
</body>
</html>