{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Tarot Reading</title>
    <link rel="stylesheet" href="{% static 'SpotifyWrapped/home.css' %}">
</head>
<body>
<div class="dark-header container">
    <div class="left">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'readings' %}">Past Readings</a>
    </div>
    <div class="right">
        <a href="{% url 'profile' %}">Profile</a>
    </div>
</div>


<div class="main container fade">
    <div class="main-items">
        <div class="orb-container fade-longer">
            <img src="{% static 'SpotifyWrapped/images/decorations/orb/dark-orb.svg' %}" id="orb" class="floating">
            <img src="{% static 'SpotifyWrapped/images/decorations/orb/dark-star.svg' %}" id="star" class="floating">
            <div class="moon-ring-container">
                <img src="{% static 'SpotifyWrapped/images/decorations/moonring.svg' %}" id="moon-ring" alt="Moonring"
                     width="100%">
            </div>
        </div>
        <a href="{% url 'select_date' %}" id="expand-link">Create a Spotify Reading</a>
        <script>
            document.getElementById("expand-link").addEventListener("click", function (event) {
                event.preventDefault();
                const star = document.getElementById("star");

                star.classList.add("expand");

                setTimeout(function () {
                    window.location.href = "{% url 'select_date' %}";
                }, 1000);
            });
        </script>
    </div>

    <div class="readings container">
        <h2>Recent Readings</h2>
        <div class="cards">
            {% for item in recent %}
                <div class="card-container">
                    <div class="main-card">
                        <svg viewBox="0 0 200 315" class="card-back"></svg>
                        <div class="card-front"></div>
                    </div>
                    <div class="fanned-card">
                        <svg viewBox="0 0 200 315" class="card-back"></svg>
                    </div>
                    <div class="fanned-card">
                        <svg viewBox="0 0 200 315" class="card-back"></svg>
                    </div>
                    <div class="fanned-card">
                        <svg viewBox="0 0 200 315" class="card-back"></svg>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--script>
        const images = [
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/reawakening-dark.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/reawakening-light.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-alchemist.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-bard.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-chariot.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-explorer.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-hermit.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-jester.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-lovers.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-moon.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-rogue.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-scholar.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-sun.svg' %}",
            "{% static 'SpotifyWrapped/images/card/card_fronts_notext/the-wizard.svg' %}"
        ]

        function insertRandomImages() {
            const imageContainers = document.querySelectorAll('.card-front');

            imageContainers.forEach(container => {
                const randomImage = images[Math.floor(Math.random() * images.length)];
                container.innerHTML = `<img src="${randomImage}" alt="Random Image" style="width:100%; height:auto;">`;
            });
        }

        // Run the function when the page has loaded
        document.addEventListener("DOMContentLoaded", insertRandomImages);
    </script-->
</div>

</body>
</html>