{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Tarot Reading</title>
    <link rel="stylesheet" href="{% static 'SpotifyWrapped/home.css' %}">
</head>
<body>
    <div class="dark-header container">
        <div class="left">
            <a href="{% url 'home' %}">Home</a>
            <a>Past Readings</a>
        </div>
        <div class="right">
            <a href="{% url 'spotify_data'%}">Profile</a>
        </div>
    </div>

    <div class="main container">
        <div id="moon-ring"></div>
        <div id="orb" class="floating"></div>
        <a>Create a Spotify Reading</a>
    </div>
    <div class="readings container">
        <h2>Recent Readings</h2>
        <div class="past-readings"></div>
    </div>
</body>
</html>