{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'SpotifyWrapped/delete.css' %}">
</head>
<body class="{% if theme_preference == 'light' %}light-mode{% endif %}">
<div class="main-items">
    <div class="text">
        <h1>Reset Password Email Sent</h1>
        <p>Your reset instructions are on their way through the stars! Check your email and return to login to continue
            your journey.</p>
    </div>
</div>
</body>
</html>