{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'SpotifyWrapped/delete.css' %}">
</head>
<body class="{% if theme_preference == 'light' %}light-mode{% endif %}">
<div class="main-items">
    <div class="text">
        <h1>Lost Among the Stars?</h1>
        <p>Sometimes even the brightest stars in the galaxy need to realign. Enter your email to begin your journey back
            to
            your celestial account. A guiding comet will lead the way. </p>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="text" name="email" id="id_email" class="form-control"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>

        <button class="delete-button" type="submit">
            Reset Password
            <div class="star-1">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                     style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                     version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs>
                    <g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                              class="fil0"></path></g></svg>
            </div>
            <div class="star-2">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                     style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                     version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs>
                    <g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                              class="fil0"></path></g></svg>
            </div>
            <div class="star-3">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                     style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                     version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs>
                    <g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                              class="fil0"></path></g></svg>
            </div>
            <div class="star-4">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                     style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                     version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs>
                    <g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                              class="fil0"></path></g></svg>
            </div>
            <div class="star-5">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                     style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                     version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs>
                    <g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                              class="fil0"></path></g></svg>
            </div>
            <div class="star-6">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53"
                     style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                     version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs>
                    <g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata>
                        <path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                              class="fil0"></path></g></svg>
            </div>
        </button>
    </form>
</div>
</body>
</html>