{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'SpotifyWrapped/profile.css' %}">
</head>
<body>
<div class="dark-header container">
    <div class="left">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'readings' %}">Past Readings</a>
        <a href="{% url 'about_us' %}">About Us</a>
    </div>
    <div class="right">
        <a href="{% url 'profile' %}">Profile</a>
    </div>
</div>

<div class="main-container fade">
    <div class="main-items">
        <div class="side1">
            <div class="account-settings box">
                <h1>Account Settings: {{ username }}</h1>
                <div class="settings">
                    <div class="button">
                        {% if usertoken %}
                            <button onclick="window.location.href='{% url 'spotify_unauthorize' %}'">
                                <img class="link" src="{% static 'SpotifyWrapped/images/icons/external_link.svg' %}"
                                     alt="external link icon">
                                Unlink
                            </button>
                        {% else %}
                            <button onclick="window.location.href='{% url 'spotify_authorize_profile' %}'">
                                <img class="link" src="{% static 'SpotifyWrapped/images/icons/external_link.svg' %}"
                                     alt="external link icon">
                                Link
                            </button>
                        {% endif %}
                    </div>

                    <div class="button">
                        <form class="logout" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="logout-button" aria-label="User Logout" title="User Logout">Logout</button>
                        </form>
                    </div>

                    <div class="button">
                        <form class="reset" action="{% url 'password_reset' %}" method="post">
                            {% csrf_token %}
                            <button class="password-reset" aria-label="User Delete" title="User Delete">Reset Password</button>
                        </form>
                    </div>

                    <div class="button">
                        <form class="delete" action="{% url 'delete?' %}" method="post">
                            {% csrf_token %}
                            <button class="delete-button" aria-label="User Delete" title="User Delete">Delete Account
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="friends-list box">
                <h1>Friends:</h1>
                <div class="scroll-box">
                    <ul class="friends-list">
                        {% for friend in friendList %}
                            <li>{{ friend.user2 }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <div class="side2">
            <div class="duo-wrapped-inv">
                <div class="form-inv">
                    {% if usertoken %}
                        <form class="form-with-validation" action="{% url 'profile' %}" method="POST"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="all-forms box">
                                <h1>Create a Duo-Wrapped Invite:</h1>
                                <!-- User To Field -->
                                <div class="form-group" id="userto">
                                    <label for="id_userto">User To:</label>
                                    {{ form.userTo }}
                                </div>

                                <!-- Time Field (Radio Buttons) -->
                                <div class="form-group">
                                    <label>Time:</label>
                                    <div class="radio-group">
                                        {{ form.time }}
                                    </div>
                                </div>

                                <!-- Message Field -->
                                <div class="form-group" id="message">
                                    <label for="id_message">Message:
                                        <p id="charCount">0 / 150</p>
                                    </label>
                                    {{ form.message }}
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            const messageInput = document.querySelector("#id_message");
                                            const charCount = document.querySelector("#charCount");
                                            const maxLength = 150; // Set your desired max length here

                                            if (messageInput) {
                                                // Update character count when typing
                                                messageInput.addEventListener("input", function () {
                                                    const currentLength = messageInput.value.length;

                                                    // Limit the text to the maxLength
                                                    if (currentLength > maxLength) {
                                                        messageInput.value = messageInput.value.substring(0, maxLength);
                                                    }

                                                    // Update the character count display
                                                    charCount.textContent = `${messageInput.value.length} / ${maxLength}`;
                                                });
                                            }
                                        });
                                    </script>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="invite-button"><a href="{{ link }}">Cancel</a></button>
                                    <button type="submit" class="invite-button">Send invite</button>
                                </div>
                            </div>

                        </form>
                    {% endif %}
                </div>
            </div>

            <div class="invites-box">
                <h1>Incoming Invites:</h1>
                <div class="scroll-box">
                    {% for invite in inviteList %}
                        <form class="invites" method="post" action="{% url 'duo_results' %}">
                            {% csrf_token %}
                            <input type="hidden" id="fromUser" name="fromUser" value="{{ invite.userFrom }}">
                            <input type="hidden" id="time" name="time" value="{{ invite.time }}">
                            <input type="hidden" id="id" name="id" value="{{ invite.id }}">
                            <button class="search-button" type="submit">{{ invite.userFrom }}:
                                ({{ invite.time }}) {{ invite.message }}</button>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>