<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if usertoken %}
        <button onclick="window.location.href='{% url 'spotify_unauthorize' %}'">Unlink</button>
    {% else %}
        <button onclick="window.location.href='{% url 'spotify_authorize' %}'">Link</button>
    {% endif %}

    <form class="logout" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-button" aria-label="User Logout" title="User Logout">Logout</button>
    </form>

    <form class="delete" action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <button class="delete-button" aria-label="User Delete" title="User Delete">Delete</button>
    </form>

    <form class="home" action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <button class="home-button" aria-label="Home" title="Home">Home</button>
    </form>
    {% if usertoken %}
        <form class="form-with-validation" action="{% url 'profile' %}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label>Your invite:</label>
                {{ form }}
            </div>

            <div class="buttons">
                <button type="button" class="cancel-button"><a href="{{ link }}">Cancel</a></button>
                <button type="submit" class="form-submit">Send invite</button>
            </div>
        </form>
    {% endif %}
    {% for invite in inviteList %}
        <form class="search" method="post" action="{% url 'duo_results' %}">
        {% csrf_token %}
        <input type="hidden" id="fromUser" name="fromUser" value="{{ invite.userFrom }}">
            <input type="hidden" id="time" name="time" value="{{ invite.time }}">
            <input type="hidden" id="time" name="invite" value="{{ invite }}">
        <button class="search-button" type="submit">{{ invite.userFrom }}</button>
    </form>
    {% endfor %}
</body>
</html>