{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'SpotifyWrapped/profile.css' %}">
</head>
<body>
    <div class="dark-header container">
        <div class="left">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'readings' %}">Past Readings</a>
        </div>
        <div class="right">
            <a href="{% url 'profile'%}">Profile</a>
        </div>
    </div>

    <div class="main-container">
        <div class="main-items">
            <div class="button">
                {% if usertoken %}
                    <button onclick="window.location.href='{% url 'spotify_unauthorize' %}'">
                        <img class="link" src="{% static 'SpotifyWrapped/images/icons/external_link.svg' %}" alt="external link icon">
                        Unlink
                    </button>
                {% else %}
                    <button onclick="window.location.href='{% url 'spotify_authorize' %}'">
                        <img class="link" src="{% static 'SpotifyWrapped/images/icons/external_link.svg' %}" alt="external link icon">
                        Link
                    </button>
                {% endif %}
            </div>

            <div class="button">
                <form class="logout" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout-button" aria-label="User Logout" title="User Logout">Logout</button>
                </form>
            </div>

            <div class="button">
                <form class="delete" action="{% url 'delete' %}" method="post">
                    {% csrf_token %}
                    <button class="delete-button" aria-label="User Delete" title="User Delete">Delete Account</button>
                </form>
            </div>

            {% if usertoken %}
                <form class="form-with-validation" action="{% url 'profile' %}" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>Your invite:</label>
                        {{ form }}
                    </div>

                    <div class="buttons">
                        <button type="button" class="cancel-button"><a href="{{ link }}">Cancel</a></button>
                        <button type="submit" class="form-submit">Send invite</button>
                    </div>
                </form>
            {% endif %}
            {% for invite in inviteList %}
                <form class="search" method="post" action="{% url 'duo_results' %}">
                    {% csrf_token %}
                    <input type="hidden" id="fromUser" name="fromUser" value="{{ invite.userFrom }}">
                    <input type="hidden" id="time" name="time" value="{{ invite.time }}">
                    <input type="hidden" id="time" name="invite" value="{{ invite }}">
                    <button class="search-button" type="submit">{{ invite.userFrom }}</button>
                </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>