/* Default (dark mode) */
:root {
    --background-image: url("images/backgrounds/dark-mode-background.svg");
    --text-color: white;
    --link-hover-color: #8b8df8;
    --card-background: #333333;
}

/* Light mode overrides */
body.light-mode {
    --background-image: url("images/backgrounds/light-mode-background.svg");
    --text-color: black;
    --link-hover-color: #b67bed;
    --card-background: #ffffff;
}

/* Apply the background and text color */
body {
    background: var(--background-image) no-repeat center center fixed;
    background-size: cover;
    color: var(--text-color);
}