/*custom fonts: Kaisei Tokumin, Kalnia, Sahitya, Linden Hill*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Kalnia:wght@100..700&family=Linden+Hill:ital@0;1&family=Sahitya:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.fade {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background: black url("images/backgrounds/dark-mode-background.svg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    color: white;
    font-family: Sahitya, serif;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
}

.dark-header {
    font-size: larger;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
}

.left {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    flex: 1 1 0;
}

.right {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0;
}

.dark-header a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.dark-header a:hover {
    text-decoration: none;
    color: #5b5df6;
    letter-spacing: 0.1em;
}

.main-container {
    position: relative;
    justify-content: center;
    align-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 0;
    padding-top: 100px;
}

.main-items {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-radius: 32px;
    border: 1px white solid;
    height: 80vh;
    margin: 0 100px;
}

.side1, .side2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.box {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.settings {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    padding: 10px;
    width: 150px;
    font-size: 1vw;
    border-radius: 16px;
    border: 1px white solid;
    background: transparent;
    color: white;
    font-family: Linden Hill, serif;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 25px rebeccapurple;
    background: transparent;
    letter-spacing: 0.1em;
}

.friends-list {
    list-style: none;
}

.friends-list .scroll-box {
    width: 100%;
    height: 67%;
    border-radius: 12px;
    border: 1px white solid;
    overflow: auto;
    background: transparent;
    scrollbar-color: white whitesmoke;
}

.friend-list ul {
    padding-left: 5px;
}

.friends-list li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

.friends-list li::before {
    content: "★";
    color: white;
    font-size: 0.75rem;
    position: absolute;
    left: 0;
}

.link {
    height: 1vw;
    width: 1vw;
}

.invites-box .scroll-box {
    width: 95%;
    height: 55%;
    border-radius: 12px;
    border: 1px white solid;
    overflow: auto;
    background: transparent;
    padding: 20px;
    scrollbar-color: white whitesmoke;
}

.all-forms {
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.form-group label {
    padding-right: 20px;
}

h1 {
    margin: 0;
    padding-bottom: 10px;
    font-family: "Kaisei Tokumin", serif;
}

.account-settings h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#userto textarea{
    padding: 7px 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 50%;
    font-size: 15px;
    border-radius: 16px;
    border: 1px solid white;
    resize: none;
    background: black;
    font-family: "Sahitya", serif;
    color: white;
}

#message textarea {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: 125px;
    width: 85%;
    font-size: 15px;
    border-radius: 16px;
    border: 1px solid white;
    resize: none;
    background: black;
    font-family: "Sahitya", serif;
    color: white;
}

#charCount{
    font-size: 0.9rem;
    color: white;
    margin: 0;
}

.cancel-button a {
    text-decoration: none;
    color: white;
}

.invites-box {
   height: 400px;
}

.invites {
    margin: 10px;
}

.search-button {
    padding: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: black;
    cursor: pointer;
    text-align: start;
}

.search-button:hover {
    box-shadow: 0 0 10px 0 rebeccapurple inset, 0 0 20px 2px rebeccapurple;
    border: 3px solid rebeccapurple;
    letter-spacing: normal;
    background: black;
}

.invite-button {
    padding: 10px;
    width: 125px;
    font-size: 1vw;
    border-radius: 16px;
    border: 1px white solid;
    background: transparent;
    color: white;
    font-family: Linden Hill, serif;
    transition: 0.5s;
    cursor: pointer;
}

.invite-button:hover {
    box-shadow: 0 0 25px rebeccapurple;
    background: transparent;
    letter-spacing: 0.1em;
}

.invite-button a {
    text-decoration: none;
    color: white;
}