@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Kalnia:wght@100..700&family=Sahitya:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: black url("images/backgrounds/dark-mode-background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-header {
    font-size: larger;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    display: flex;
    gap: 40px;
}

.dark-header a {
    text-decoration: none;
    color: white;
}

.dark-header a:hover {
    color: #8b8df8;
}

.readings {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 20px;
}

.card-container {
    position: relative;
    width: 250px; /* Adjust width of the card container */
    height: 375px; /* Set a fixed height */
    backdrop-filter: blur(5px);
    background: url("images/decorations/cardborder.svg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    width: 70%;
    height: 70%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: absolute;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background: white;
    color: black;
    transform: rotateY(180deg);
}

.card-back {
    background: url("images/card/default-card-back.svg") no-repeat center center;
    background-size: contain;
}
