/*custom fonts: Kaisei Tokumin, Kalnia, Sahitya*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Kalnia:wght@100..700&family=Sahitya:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

.fade {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
    background: black url("images/backgrounds/dark-mode-background-decorative.svg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    color: white;
    font-family: Sahitya, serif;
}

.signup-container {
    width: 400px;
    height: 630px;
    aspect-ratio: 2/3;
    padding: 20px;
    margin: auto;
    background: black url("images/decorations/dark-mode-authorization-box.svg") no-repeat center center fixed;
    background-size: contain;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 25px rebeccapurple;
    align-content: space-around;
}

.signup-container p {
    text-align: center;
}

.general-text {
    text-align: center;
    flex-direction: column;
    gap: 2px;
}

.general-text h1 {
    font-size: calc(1.45*(1vh + 1vw));
    margin: 0;
    padding-bottom: 0;
}

.general-text p {
    font-size: calc(0.5*(1vh + 1vw));;
    margin: 0;
}

form {
    gap: 10px;
}

.form-group input {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;
    background: black;
    border-radius: 16px;
    border: 1px solid white;
    padding-left: 20px;
}

input:-webkit-autofill {
    background-color: black !important;
    -webkit-text-fill-color: white !important;
    box-shadow: 0 0 0px 1000px black inset !important;
    border-color: white;
}

.form-group label {
    font-size: 15px;
}

.form-group {
    margin-bottom: 5px;
    padding: 0;
}

.text-box {
    display: flex;
    position: relative;
}

.requirements {
    position: absolute;
    left: 105%;
    top: 0;
    margin-left: 10px;
    width: 250px;
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    z-index: 10;
    list-style: none;
}

.requirements li::before {
    content: "• ";
    color: white;
}


.text-box input:focus + .requirements {
    visibility: visible;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

input, select, textarea{
    color: white;
    font-family: Sahitya, serif;
}

textarea:focus, input:focus {
    color: white;
    font-family: Sahitya, serif;
}

.form-group button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 0 16px;
    background: white;
    color: black;
    border-radius: 16px;
    border: 1px solid white;
    font-family: Sahitya, serif;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group button:hover {
    box-shadow: 0 0 25px #FFCA73;
    letter-spacing: 0.1em;
    background: transparent;
    color: white;
}

/* Initial Star Styles */
.star-1 {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 40%;
  left: 55%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 25%;
  left: 55%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

/* Hover Effect - Stars Move Outwards */
button:hover .star-1 {
  top: -20%;
  left: -10%;
  filter: drop-shadow(0 0 10px #fffdef);
  opacity: 1;
  z-index: 2;
}

button:hover .star-2 {
  top: 10%;
  left: 120%;
  filter: drop-shadow(0 0 10px #fffdef);
  opacity: 1;
  z-index: 2;
}

button:hover .star-3 {
  top: 75%;
  left: -15%;
  filter: drop-shadow(0 0 10px #fffdef);
  opacity: 1;
  z-index: 2;
}

button:hover .star-4 {
  top: 50%;
  left: 110%;
  filter: drop-shadow(0 0 10px #fffdef);
  opacity: 1;
  z-index: 2;
}

button:hover .star-5 {
  top: -10%;
  left: 90%;
  filter: drop-shadow(0 0 10px #fffdef);
  opacity: 1;
  z-index: 2;
}

button:hover .star-6 {
  top: -5%;
  left: 20%;
  filter: drop-shadow(0 0 10px #fffdef);
  opacity: 1;
  z-index: 2;
}

.fil0 {
  fill: #FFFDEF
}

.error-message {
    color: red;
    font-size: 13px;
    margin-bottom: 5px;
}

a {
    color: white;
}

section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    animation: animateBg 50s linear infinite;
    z-index: -100;
}

@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

span{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
    z-index: -100;
}
span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
    z-index: -100;
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
    z-index: -100;
}
span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
    z-index: -100;
}
span:nth-child(3){
    top: 80%;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
    z-index: -100;
}
span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}