/*custom fonts: Kaisei Tokumin, Kalnia, Sahitya, Linden Hill*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Kalnia:wght@100..700&family=Linden+Hill:ital@0;1&family=Sahitya:wght@400;700&display=swap');

* {
    font-family: Sahitya, serif;
    box-sizing: border-box;
}

body {
    position: relative;
    background: black; /* Set initial background */
    color: white;
    overflow: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/backgrounds/presentation.svg") no-repeat fixed;
    background-size: cover;
    opacity: 0;
    animation: fadeInBg 1.5s ease-in-out forwards;
}

@keyframes fadeInBg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.home-button {
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button .close-icon {
    position: relative;
    width: 40px;
    height: 40px;
}

.home-button .close-icon::before,
.home-button .close-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: white;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button .close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.home-button:hover .close-icon::before,
.home-button:hover .close-icon::after {
    background: #8b8df8;
}

.home-button:hover .close-icon::before {
    transform: translate(-50%, -50%) rotate(225deg); /* Adds a small rotation effect */
}

.home-button:hover .close-icon::after {
    transform: translate(-50%, -50%) rotate(135deg); /* Adds a small rotation effect */
}

.cards {
    -webkit-transform: perspective(900px);
    -webkit-transform-style: preserve-3d;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    cursor: pointer;
}

h1 {
    font-size: 15px;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
}

.fade {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img {
    flex-shrink: 0;
}

.details {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    max-height: 33px;
    margin-left: 10px;
    text-align: start;
    gap: 5px;
    margin-bottom: 3px;
}

.scenario {
    margin: 10px 5px;
    font-size: 5px;
    text-align: center;
}

.bullet {
    height: 100%;
}

.bullet-img {
    margin-top: 10px;
    align-content: space-between;
}

.text {
    max-width: calc(100% - 70px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0;
}

.text h2 {
    font-size: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2em;
    max-height: 2.4em;
    margin: 0;
}

.text h3 {
    position: relative;
    font-size: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card1 {
    text-align: center;
    position: absolute;
    top: calc(10vh - 7.5vh);
    left: calc(10vw - 5vw);
    width: 133px;
    height: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    background-size: cover;
    transition: transform .6s;
    transform-style: preserve-3d;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
}

.card1.clicked {
    transform: scale(3) rotatey(180deg) rotatex(0deg) rotatez(0deg) translatex(-14vw) translatey(13.75vh);
    transition: .6s;
}

#front1 {
    background: white url("images/card/card_fronts/the-wizard.svg") no-repeat center center;
    background-size: contain;
    color: black;
    transform: rotateY(180deg);
}

.card1 .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14112AEE;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.card1.clicked:hover .info {
    display: flex;
}

#back1 {
    background: url("images/card/card_backs/back1.svg") no-repeat center center;
    background-size: contain;
}

.card2 {
    text-align: center;
    position: fixed;
    top: calc(10vh - 7.5vh);
    left: calc(21vw - 5vw);
    width: 133px;
    height: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    background-size: cover;
    animation: animate 1s linear infinite;
    transition: transform .6s;
    transform-style: preserve-3d;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
}

.card2.clicked {
    transform: scale(3) rotatey(180deg) rotatex(0deg) rotatez(0deg) translatex(-10vw) translatey(13.75vh);
    transition: .6s;
}

#front2 {
    background: white url("images/card/card_fronts/the-lovers.svg") no-repeat center center;
    background-size: contain;
    color: black;
    transform: rotateY(180deg);
}

.card2 .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #431924EE;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.card2.clicked:hover .info {
    display: flex;
}

.card2 .text {
    max-width: calc(100% - 70px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0;
}

.card2 .text h2 {
    font-size: 10px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2em;
    max-height: 2.4em;
    align-content: center;
    margin-top: 5px;
}

#back2 {
    background: url("images/card/card_backs/back2.svg") no-repeat center center;
    background-size: contain;
}

.card3 {
    text-align: center;
    position: fixed;
    top: calc(10vh - 7.5vh);
    left: calc(33vw - 5vw);
    width: 133px;
    height: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    background-size: cover;
    transition: transform .6s;
    transform-style: preserve-3d;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
}

.card3.clicked {
    transform: scale(3) rotatey(180deg) rotatex(0deg) rotatez(0deg) translatex(-6vw) translatey(13.75vh);
    transition: .6s;
}

#front3 {
    background: white url("images/card/card_fronts/the-alchemist.svg") no-repeat center center;
    background-size: contain;
    color: black;
    transform: rotateY(180deg);
}

.card3 .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202030EE;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.card3.clicked:hover .info {
    display: flex;
}

.card3 .text {
    max-width: calc(100% - 20px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0;
}

.card3 .text h2 {
    font-size: 10px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2em;
    max-height: 2.4em;
    align-content: center;
    margin-top: 5px;
}

#back3 {
    background: url("images/card/card_backs/back3.svg") no-repeat center center;
    background-size: contain;
}

.card4 {
    text-align: center;
    position: fixed;
    top: calc(10vh - 7.5vh);
    left: calc(44vw - 5vw);
    width: 133px;
    height: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    background-size: cover;
    transform-style: preserve-3d;
    transition: transform .6s;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
}

.card4.clicked {
    transform: scale(3) rotatey(180deg) rotatex(0deg) translatex(-13vw) translatex(10.5vw) translatey(13.75vh);
    transition: .6s;
}

#front4 {
    background: white url("images/card/card_fronts/the-explorer.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

.card4 .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #112C20EE;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.card4.clicked:hover .info {
    display: flex;
}

.card4 .info p {
    margin: 10px 5px;
    font-size: 6px;
    text-align: center;
}

#back4 {
    background: url("images/card/card_backs/back4.svg") no-repeat center center;
    background-size: contain;
}

.card5 {
    text-align: center;
    position: fixed;
    top: calc(10vh - 7.5vh);
    left: calc(55vw - 5vw);
    width: 133px;
    height: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    background-size: cover;
    transform-style: preserve-3d;
    transition: transform .6s;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
}

.card5.clicked {
    transform: scale(3) rotatey(180deg) rotatex(0deg) translatex(-13vw) translatex(14vw) translatey(13.75vh);
    transition: .6s;
}

#front5-varlow {
    background: white url("images/card/card_fronts/the-hermit.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

#front5-varhigh {
    background: white url("images/card/card_fronts/the-jester.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

.card5 .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #211803EE;
    color: white;
    display: none;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.card5.clicked:hover .info .varhigh {}
.card5.clicked:hover .info .varlow {}

.card5.details {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
    align-content: start;
}

#back5 {
    background: url("images/card/card_backs/back5.svg") no-repeat center center;
    background-size: contain;
}

.card6 {
    text-align: center;
    position: fixed;
    top: calc(10vh - 7.5vh);
    left: calc(66vw - 5vw);
    width: 133px;
    height: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    transform-style: preserve-3d;
    transition: transform .6s;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
}

.card6.clicked {
    transform: scale(3) rotatey(180deg) rotatex(0deg) translatex(-13vw) translatex(18vw) translatey(13.75vh);
    transition: .6s;
}

#front6-varlow {
    background: white url("images/card/card_fronts/the-sage.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

#front6-varhigh {
    background: white url("images/card/card_fronts/the-chariot.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

.card6 .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #422221EE;
    color: white;
    display: none;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.card6.clicked:hover .info .varhigh {}
.card6.clicked:hover .info .varlow {}

.card6.details {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
    align-content: start;
}

#back6 {
    background: url("images/card/card_backs/back6.svg") no-repeat center center;
    background-size: contain;
}

.card7 {
    text-align: center;
    position: fixed;
    top: calc(10vh - 7.5vh);
    left: calc(78vw - 5vw);
    width: 133px;
    height: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    background-size: cover;
    transform-style: preserve-3d;
    transition: transform .6s;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
}

.card7.clicked {
    transform: scale(3) rotatey(180deg) rotatex(0deg) translatex(-13vw) translatex(22vw) translatey(13.75vh);
    transition: .6s;
}

#front7-varlow {
    background: white url("images/card/card_fronts/the-rogue.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

#front7-varhigh {
    background: white url("images/card/card_fronts/the-bard.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

.card7 .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #041732EE;
    color: white;
    display: none;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.card7.clicked:hover .info .varhigh {}
.card7.clicked:hover .info .varlow {}

.card7.details {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
    align-content: start;
}

#back7 {
    background: url("images/card/card_backs/back7.svg") no-repeat center center;
    background-size: contain;
}

.card8 {
    text-align: center;
    position: fixed;
    top: calc(10vh - 7.5vh);
    left: calc(90vw - 5vw);
    width: 133px;
    height: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: black;
    background-size: cover;
    transform-style: preserve-3d;
    transition: transform .6s;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
}

.card8.clicked {
    transform: scale(3) rotatey(180deg) rotatex(0deg) translatex(-13vw) translatex(26vw) translatey(13.75vh);
    transition: .6s;
}

#front8-varlow {
    background: white url("images/card/card_fronts/the-moon.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

#front8-varhigh {
    background: white url("images/card/card_fronts/the-sun.svg") no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

.card8 .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #302E04EE;
    color: white;
    display: none;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.card8.clicked:hover .info .varhigh {}
.card8.clicked:hover .info .varlow {}

.card8.details {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
    align-content: start;
}

#back8 {
    background: url("images/card/card_backs/back8.svg") no-repeat center center;
    background-size: contain;
}

.fade-text {
    animation: fadeInOut 2s ease-in-out;
    animation-delay: 1.5s;
    font-size: 70px;
    color: white;
    text-align: center;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-family: "Kaisei Tokumin", serif;
    pointer-events: none;
    z-index: 10;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.summary-button-container {
    display: none;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease, z-index 1s ease;
}

.summary-button {
    color: white;
    padding: 20px;
    border-radius: 32px;
    border: 1px white solid;
    text-decoration: none;
    transition: 0.5s;
    position: relative; /* For orbiting elements to be positioned correctly */
}

.summary-button:hover {
    box-shadow: 0 3px 50px #8b8df8;
    border: 1px #8b8df8 solid;
    color: #8b8df8;
    letter-spacing: 0.1em;
}