/*custom fonts: Kaisei Tokumin, Kalnia*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Kalnia:wght@100..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: black url("images/dark-mode-background-decorated.png");
}

#welcome-message {
    font-family: 'Kaisei Tokumin', serif;
}

h1 {
    font-size: 20vw;
}

.button-container {

}